@charset "UTF-8";

body{
	margin:0 auto;
	width:100%;
	font-family:Nanum Gothic, sans-serif;
}

header{
		width:100%;
		height: 80px;
		position: fixed;
		background-color: white;
		box-shadow: 0px 0px 15px -5px #8a8a8a;
		float:left;
	}
	
a{
	text-decoration: none;
	color:black;
}	
	header #title{
		font-size: 25px;
		display:inline-block;
		margin-top: 20px;
		margin-left: 20px;
	}
	
	#title h3{
		display: inline;
	}
	
	header #loginList{
		float:right;
		width: 260px;
		height: 40px;
		margin-top:20px;
		margin-right:30px;
		padding: 0;
	}
	
	#loginList div{
		width: 100px;
		height: 40px;
		margin: 0;
		text-align: center;
		float: left;
		padding-top: 10px;
	}
	
	/* #loginList div:last-child {
	background: #32805a;
	border:3px solid #14a085;
	height: 33px;
	transition:0.3s;
}	

#loginList div:last-child:hover{
	background-color: #14a085;
	color:white;
	border-radius: 30px 30px 30px 30px;
} */

input[type="text"]{
	background-image:url("../img/textbox.png");
	width:215px;
	height:30px;
	border: none;
	border-bottom: 3px solid 	#14a085;
	outline-width: 0;
	transition:0.3s;
}

input[type="text"]:focus{
	box-shadow: 0px 10px 10px #e8e8e8;
}

#wrapper{
	width:80%;
	margin:0 auto;
	background-color: white;
}

#space{
	width:100%;
	height: 100px;
}

#toptitle{
	margin-top:0px;
	text-align: center;
}

#indicater{
	width:60%;
	height: 200px;
	margin:0 auto;
}

#indiwrapper{
	margin:0 auto;
	height: 100%;
	width:80%;
	padding-left: 3%;
	
}
.indi{
	width:25%;
	height: 90%;
	display: inline-block;
	border-radius: 300px;
	text-align: center;
	margin-top: 5%; 
	border: 2px solid #e0e0e0;
	transition:0.3s;
}

/* .indi:first-child{
	background-color: #14a085;
	color:white;
	box-shadow: 5px 5px 10px #a8a8a8;
	border: 2px solid #14a085;
} */


.indi:hover{
	background-color: #14a085;
	color:white;
	box-shadow: 5px 5px 10px #a8a8a8;
	border: 2px solid #14a085;
}

.indi p{
	margin-top:73px;
	font-size: 25px;
	font-family: 'Gothic A1', sans-serif;
}

.line{
	width:9%;
	border-top: 2px solid #e0e0e0;;
	display: inline-block;
}

#basicInfoWrap{
/* 	margin-top:100px; */
	width:70%;
	margin:100px auto;
	display: block;
}

.info{
	width:100%;
	height: 200px;
	margin-top:30px;
	border: 0.5px solid #e0e0e0;
	border-radius: 5px;
}

.info h2{
	display: inline-block;
	margin-bottom: 50px;
	margin-left:25px;
	margin-top:25px;
	float:left;
	font-family: 'Gothic A1', sans-serif;
	font-weight: bold;
}

.info div{
	display: inline-block;
	margin-top:25px;
	margin-left:25px;
	float:left;
	font-family:Nanum Gothic, sans-serif;
}

.info input[type="text"]{
	margin-left: 19%;
	display: block;
	clear:both;
	width:500px;
}

.info:nth-child(3) div{
	margin-left:7.5%;
}



select{
	width:200px;
	height: 50px;
	margin-top:80px;
	margin-left:-42.5%;
	font-size:16px;
}

.info input[type="file"]{
	clear: both;
	margin-top:80px;
	margin-left:-52%;
	font-size: 16px;
}

.info:nth-child(5){
	height: 100%;
}

.info:nth-child(5) div{
	margin-left:7%;
}

.info textarea{
	margin:20px 0 30px 7%;
	widht:900px;
	height: 400px;
}

.info:nth-child(6) div{
	margin-left:5%;
}

.info:nth-child(6) input[type="file"]{
	margin-left: -62%;
}

.info:nth-child(7) div{
	margin-left:5%;
}

.info:nth-child(7) input[type="file"]{
	margin-left: -59%;
}

.info:nth-child(8) div{
	margin-left:8%;
}

.info:nth-child(8) #deadDate{
	clear: both;
	margin-left:-27%;
	margin-top:65px;
}

.info:nth-child(9) div{
	margin-left:7.5%;
}

.info:nth-child(9) input[type="number"]{
	background-image:url("../img/textbox.png");
	width:500px;
	height:30px;
	border: none;
	border-bottom: 3px solid 	#14a085;
	outline-width: 0;
	transition:0.3s;
	
	clear:both;
	margin-top:80px;
	margin-left:-39%;
}

input[type="number"]:focus{
	box-shadow: 0px 10px 10px #e8e8e8;
}

#submit{
	width:100%;
	height: 150px;
	margin-top:30px;
}

#submit #save{
	float:left;
	width:200px;
	height: 50px;
	font-size: 24px;
	font-weight: bold;
	background-color: #14a085;
	color:white;
	border: none;
	margin-left: 38%;
}

#submit #nextStep{
	float:right;
	width:200px;
	height: 50px;
	font-size: 24px;
	font-weight: bold;
	background-color: #14a085;
	color:white;
	text-align: center;
}

#submit #nextStep p{
	margin-top:8px;
}


#settingRewardWrap{
	width:70%;
	height: 100%;
	margin:0 auto;
	display: none;
}

.reWrap{
	/* border:0.5px solid #e0e0e0;
	padding-top: 30px; */
	margin-top:50px;
}

.reTitle{
	width:25%;
	height: 80%;
	float:left;
}

.reInfo{
	width:70%;
	height: 80%;
	float:left;
}


.reInfo p{
	display: block;
	margin-left:48px;
	font-size: 16px;
	margin-bottom:35px;

}

.reInfo p:first-child{
	margin-left: 52px;
	}

.reInfo hr{
	width:90%;
}


.reInfo textarea{
	float:left;
	margin-left:6.3%;
	height: 300px;
	
}

.reInfo #rewardMoney{
	margin-left: 10%;
}

.reInfo #rewardMoney{
	background-image:url("../img/textbox.png");
	width:480px;
	height:30px;
	border: none;
	border-bottom: 3px solid #14a085;
	outline-width: 0;
	transition:0.3s;

}



.reInfo #rewardTitle{
	margin-left:6.3%;
	
}

.reInfo div{
	display: inline-block;
	margin-left:6.8%;
	float:left;
	font-size:16px;

}

.reTitle h2{
	font-weight: bold;
	margin-left:36px;
	margin-top:10px;
	font-size:36px;
	font-family: 'Gothic A1', sans-serif;
	display: inline-block;
}

.reInfo input[type="text"]{
	width:480px;	
}

.delete{
	width:3%;
	height: 80%;
	float:left;
	padding-top:10px;
}

.resubmit{
	width:100%;
	border-bottom: 2px solid #a8a8a8;
}

#resubmit{
	width:80%;
	height:70px;
	background-color: #14a085;
	border: none;
	margin-left:10%;
	margin-top:30px;
	margin-bottom:30px;
	font-size: 24px;
	color:white;
	font-weight: bold;
}

#newReward{
	width:80%;
	height:70px;
	margin-left:10%;
	background-color: #e0e0e0;
	margin-top:30px;
	margin-bottom:30px;
	padding-top:1px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#newReward p{
	margin:0;
	margin-top:20px;
	font-weight: bold;
	font-family: 'Gothic A1', sans-serif;
}
#nextorbefore{
	width:80%;
	height:100px;
	margin:0 auto;
}

#nextorbefore #before{
	width:200px;
	height: 50px;
	font-size: 22px;
	text-align: center;
	color:white;
	float:left;
	background-color: #14a085;
}

#nextorbefore #before p{
	margin-top:9px;
	font-family: 'Gothic A1', sans-serif;
}

#nextorbefore #next{
	width:200px;
	height: 50px;
	font-size: 22px;
	text-align: center;
	color:white;
	float:right;
	background-color: #14a085;
}

#nextorbefore #next p{
	margin-top:9px;
	font-family: 'Gothic A1', sans-serif;
}

footer{
		width:100%;
		height: 100px;
		font-size: 12px;
		float:left;
		margin-top:50px;
		background-color: gray;
	}
	footer div{
		float:left;
	}